<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="admin"><%= t('admin') %></option>
    <option value="editor"><%= t('editor') %></option>
    <option value="viewer"><%= t('viewer') %></option>
    <option value="member"><%= t('member') %></option>
    <option value="agent"><%= t('agent') %></option>
  <% end %>
</div>
